@import "../styles"

.boton
    background-color: $background

.navbar
    float: left
    color: #62c7c7
    position: fixed
    height: 100%
    background-color: $colorfondo
    width: 15%

.puntos
    width: 85%
    float: right
    margin-top: 15px

.profile
    width: 85%
    float: right
